@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 100;
  src: url('GmarketSansTTFMedium.ttf');
}

@font-face {
  font-family: 'Gmarket Sans Bold';
  font-style: normal;
  font-weight: 100;
  src: url('GmarketSansTTFBold.ttf');
}
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 100;
  src: url('Pretendard-Medium.woff');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url('NotoSansKR-Medium.otf');
}
