html,
body {
  font-size: 62.5%;
  line-height: 1.285;
  width: 100%;
  height: auto;
  max-width: 4200px;
  min-height: 100dvh;
  overflow: auto;
  margin: 0 auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

&::-webkit-scrollbar {
  display: none;
}
